/* ---------------------------------------------------------------------
Icon
------------------------------------------------------------------------ */
.icon {
    position: relative; /* reference point for children */
    display: inline-block;
    width: 100%;
}

.icon-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ----- Icon Specific Extensions ----- */

/* -- Search Icon --*/
.icon_search {
    width: 14px;
    height: 14px;
    fill: var(--COLOR_SYSTEM_CHARCOAL_GREY);
}

/*-- Menu Icon --*/
.icon_menu {
    width: 20px;
    height: 16px;
    fill: #ffffff;
}

/*-- Close Icon --*/
.icon_close {
    width: 20px;
    height: 20px;
    fill: var(--COLOR_PRIMARY_WHITE);
}


/* -- chevron icon --*/
.icon_chevron {
    width: 22px;
    height: 22px;
}

/*-- Arrow Icon
- default is down
- size/color alterations should be handled with mixins
--*/
.icon_arrow {
    width: 11px;
    height: 5px;
    fill: var(--COLOR_SECONDARY_MIDNIGHT_BLUE);
    transform: rotate(0deg);
}
