/* ---------------------------------------------------------------------
u-container & container
------------------------------------------------------------------------ */
.container,
.u-container {
    max-width: var(--SITE_MAX_WIDTH);
    margin: 0 auto;
    padding: 0 var(--GLOBAL_SPACING);
}

.container_medium,
.u-container_medium {
    padding: 0;
    @media(--medium) {
        padding: 0 var(--GLOBAL_SPACING);
    }
}
