/* ---------------------------------------------------------------------
u-text
 * text modification Utilities
------------------------------------------------------------------------ */

/* Text Transform */
/* ------------------------------------------- */

.u-textTransformUpper {
    text-transform: uppercase;
}

/* Text Colors */
/* ------------------------------------------- */

.u-textColorOpaque {
    color: var(--COLOR_PRIMARY_WHITE);
}

.u-textColorLight {
    color: var(--COLOR_SECONDARY_STORMY_GREY);
}

.u-textColorDark {
    color: var(--COLOR_SECONDARY_MIDNIGHT_BLUE);
}

.u-textColorDarker {
    color: var(--COLOR_SYSTEM_CHARCOAL_GREY);
}

.u-textColorHighlight {
    color: var(--COLOR_SECONDARY_OCEAN_BLUE);
}

.u-textColorRequired {
    color: var(--COLOR_PRIMARY_RUST_RED);
}

/* Font Weight */
/* ------------------------------------------- */

.u-textWeightLight {
    font-family: "OpenSans-Light";
    font-weight: 300;
}

.u-textWeightRegular {
    font-family: "OpenSans";
    font-weight: 400;
}

.u-textWeightSemiBold {
    font-family: "OpenSans-SemiBold";
    font-weight: 600;
}

.u-textWeightBold {
    font-family: "OpenSans-Bold";
    font-weight: 700;
}

/* Font Style */
/* ------------------------------------------- */

.u-textStyleItalic {
    font-style: italic;
}

.u-textStyleNormal {
    font-style: normal;
}

.u-textDecorationUnderline {
    display: inline-block;
    margin-bottom: 10px;
    padding-bottom: 8px;
    position: relative;
    color: var(--COLOR_SYSTEM_CHARCOAL_GREY);
    &:after {
        content: '';
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: var(--COLOR_SYSTEM_CHARCOAL_GREY);
    }
}

/* Text Alignment */
/* ------------------------------------------- */

.u-textAlignCenter {
    text-align: center;
}

.u-textAlignRight {
    text-align: right;
}

/* Line Height */
/* ------------------------------------------- */

.u-textLineHeightShort {
    line-height: 1;
}

.u-textLineHeightMedium {
    line-height: 1.2;
}

.u-textLineHeightRegular {
    line-height: 1.4;
}

.u-textLineHeightTall {
    line-height: 1.6;
}

/* Font Size */
/* ------------------------------------------- */

/* Small */
.u-textFontSizeXXSmall {
    @apply --FONT_SIZE_TEXT_XXSMALL;
}

.u-textFontSizeXSmall {
    @apply --FONT_SIZE_TEXT_XSMALL;
}

/* Small and its variants */
.u-textFontSizeSmall {
    @apply --FONT_SIZE_TEXT_SMALL;
}

.u-textFontSizeSmallToLarge {
    @apply --FONT_SIZE_TEXT_SMALL_TO_LARGE;
}

.u-textFontSizeSmallToXLarge {
    @apply --FONT_SIZE_TEXT_SMALL_TO_XLARGE;
}

/* Medium and its variants */
.u-textFontSizeMedium {
    @apply --FONT_SIZE_TEXT_MEDIUM;
}

.u-textFontSizeMediumToLarge {
    @apply --FONT_SIZE_TEXT_MEDIUM_TO_LARGE;
}

.u-textFontSizeMediumToXLarge {
    @apply --FONT_SIZE_TEXT_MEDIUM_TO_XLARGE;
}

/* Large and its variants */
.u-textFontSizeLarge {
    @apply --FONT_SIZE_TEXT_LARGE;
}

/* XLarge and its variants */
.u-textFontSizeXLarge {
    @apply --FONT_SIZE_TEXT_XLARGE;
}

/* XXLarge and its variants */
.u-textFontSizeXXLarge {
    @apply --FONT_SIZE_TEXT_XXLARGE;
}

/* XXXLarge and its variants */
.u-textFontSizeXXXLarge {
    @apply --FONT_SIZE_TEXT_XXXLARGE;
}

/* Main Header Navigation only */
.u-textFontSizeMainNav {
    font-size: 22px;
    @media (--medium) {
        font-size: 12px;
    }
    @media (--microMediumToLarge) {
        font-size: 16px;
    }
    @media (--large) {
        font-size: 20px;
    }
}
