/* ---------------------------------------------------------------------
ctaBox
------------------------------------------------------------------------ */
/* Configurable Variables */
:root {
    --ctaBox_BORDER_WIDTH: 13px;
    --ctaBox_FOCUS_BORDER_WIDTH: 2px;
    --ctaBox_FOCUS_ZINDEX: 1;
    --ctaBox_FOCUS_BORDER_ZINDEX: 10;
}

.ctaBox {
    width: 100%;
    padding: 24px 18px;
    position: relative; /* reference for position of pseudo/child */
    box-sizing: border-box;
    background-color: var(--COLOR_PRIMARY_WHITE);
}

/* Pseudo focus state */
a.ctaBox:focus {
    z-index: var(--ctaBox_FOCUS_ZINDEX);
    &:after {
        z-index: var(--ctaBox_FOCUS_BORDER_ZINDEX);
        content: '';
        border: 2px solid var(--COLOR_PRIMARY_SUNSHINE_ORANGE);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
    }
}

.ctaBox-hd {
    margin-bottom: 10px;
}

/*Themes
* - Uses Pseudo element to allow proper focus state */
.ctaBox {
    &.theme-myBestLife {
        &:before {
            content: '';
            width: var(--ctaBox_BORDER_WIDTH);
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: var(--COLOR_THEME_MY_BEST_LIFE);
        }
        & .icon {
            fill: var(--COLOR_THEME_MY_BEST_LIFE);
        }
    }

    &.theme-myHome {
        &:before {
            content: '';
            width: var(--ctaBox_BORDER_WIDTH);
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: var(--COLOR_THEME_MY_HOME);
        }
        & .icon {
            fill: var(--COLOR_THEME_MY_HOME);
        }
    }

    &.theme-myHealth {
        &:before {
            content: '';
            width: var(--ctaBox_BORDER_WIDTH);
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: var(--COLOR_THEME_MY_HEALTH);
        }
        & .icon {
            fill: var(--COLOR_THEME_MY_HEALTH);
        }
    }

    &.theme-myMoney {
        &:before {
            content: '';
            width: var(--ctaBox_BORDER_WIDTH);
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: var(--COLOR_THEME_MY_MONEY);
        }
        & .icon {
            fill: var(--COLOR_THEME_MY_MONEY);
        }
    }

    &.theme-myWork {
        &:before {
            content: '';
            width: var(--ctaBox_BORDER_WIDTH);
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: var(--COLOR_THEME_MY_WORK);
        }
        & .icon {
            fill: var(--COLOR_THEME_MY_WORK);
        }
    }

    &.theme-mySocialLife {
        &:before {
            content: '';
            width: var(--ctaBox_BORDER_WIDTH);
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: var(--COLOR_THEME_MY_SOCIAL_LIFE);
        }
        & .icon {
            fill: var(--COLOR_THEME_MY_SOCIAL_LIFE);
        }
    }
}
