/* ---------------------------------------------------------------------
domOrderFlip
* Initial application of the base object children is from y-axis to x-axis and
* should be flipped with an extension class
------------------------------------------------------------------------ */
.domOrderFlip {
    display: flex;
    flex-direction: column;
    @media (--medium) {
        flex-direction: row-reverse;
        align-items: center;
    }
}

.domOrderFlip:last-child {
    justify-content: space-between;
}
