/* ---------------------------------------------------------------------
grid
--------------------------------------------------------------------- */
@media (--medium) {
    .grid {
        display: flex;
    }

    .grid > *,
    .grid-col {
        flex: 1 1 auto;
        position: relative;
        box-sizing: border-box;
    }

    /* Loop over objects with divided class to set basis and width */
    @for $i from 1 to 12 {
        .grid-col_$(i)of12 {
            flex-basis: calc($i / 12 * 100%);
            max-width: calc($i / 12 * 100%);
        }
    }
}
