/* ---------------------------------------------------------------------
megaMenuNav
------------------------------------------------------------------------ */
.megaMenuNav-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--MEGA_MENU_SPACING) * -1); /* Offset children spacing to be flush with containing element */
}

.megaMenuNav-list > * {
    display: flex;
    width: 100%;
    margin-top: var(--MEGA_MENU_SPACING);
    box-sizing: border-box;
    overflow: hidden;
    @media(--medium) {
        width: 50%;
    }
}

.megaMenuNav-media {
    display: flex;
    height: 100%;
    margin-left: 9px;
    padding-right: 10px;
    padding-left: 10px;
    align-items: flex-end;
    justify-content: center;
    background: var(--COLOR_PRIMARY_EGGPLANT_PURPLE);
}
