/* ---------------------------------------------------------------------
sideBySide
* For objects with no more than two direct descendants
* If object contains more than two direct descendants use hList
--------------------------------------------------------------------- */
:root {
    --sideBySide_SPACE: 8px;
}

.sideBySide {
    display: flex;
    align-items: center;
}

.sideBySide > * + * {
    margin-left: var(--sideBySide_SPACE);
}

/* Mixins */

.mix-sideBySide_grow >:first-child {
    flex-grow: 1;
}
