/* ---------------------------------------------------------------------
Vars
------------------------------------------------------------------------ */
/* Main Media Queries */
/* ------------------------------------------- */
@custom-media --small (width > 480px);

@custom-media --medium (width >= 768px);

@custom-media --large (width > 1140px);

/*-- Custom/Micro Media Queries --*/
@custom-media --microMediumToLarge (width > 850px);

/*-- Development - Break Point Listener --*/
body:after {
    @apply --isVisuallyHidden;
}

@media (--small) {
    body:after {
        content: 'screen_small';
    }
}

@media (--medium) {
    body:after {
        content: 'screen_medium';
    }
}

@media (--large) {
    body:after {
        content: 'screen_large';
    }
}

/* Measurements */
/* ------------------------------------------- */
:root {
    --SITE_MAX_WIDTH: 1140px;
    --COLUMN_SPACING: 20px;
    --GLOBAL_SPACING: 20px;
    --MEGA_MENU_SPACING: 9px;
    --BTN_Y_PADDING: 8px;
    --BTN_X_PADDING: 12px;
}

/* Colors */
/* ------------------------------------------- */
:root {
    /* Primary Palette Colors */
    --COLOR_PRIMARY_WHITE: rgb(255,255,255);
    --COLOR_PRIMARY_OCEAN_BLUE: rgb(0,167,181);
    --COLOR_PRIMARY_LAVA_RED: rgb(209,65,36);
    --COLOR_PRIMARY_RUST_RED: rgb(138,42,43);
    --COLOR_PRIMARY_SUNSHINE_ORANGE: rgb(237,139,0);
    --COLOR_PRIMARY_EGGPLANT_PURPLE: rgb(114,36,108);
    --COLOR_PRIMARY_ALGAE_GREEN: rgb(74,119,41);

    /* Secondary Colors */
    --COLOR_SECONDARY_SLATE_BLUE: rgb(0,79,89);
    --COLOR_SECONDARY_MIDNIGHT_BLUE: rgb(29,37,45);
    --COLOR_SECONDARY_OCEAN_BLUE: rgb(74,113,226);
    --COLOR_SECONDARY_SAND_BEIGE: rgb(242,233,219);
    --COLOR_SECONDARY_SLATE_GREY: rgb(217,217,214);
    --COLOR_SECONDARY_STORMY_GREY: rgb(119, 119, 119);

    /* System Colors */
    --COLOR_SYSTEM_CHARCOAL_GREY: rgb(84, 82, 81);
    --COLOR_SYSTEM_TEXT_GREY: rgb(51, 51, 51);
    --COLOR_SYSTEM_LATTE_BEIGE: rgb(255, 251, 246);

    /* Theme colors - Duplicated from above but relate to themed areas for simplicity of adaptation */
    --COLOR_THEME_MY_BEST_LIFE: var(--COLOR_PRIMARY_RUST_RED);
    --COLOR_THEME_MY_HOME: var(--COLOR_PRIMARY_SUNSHINE_ORANGE);
    --COLOR_THEME_MY_HEALTH: var(--COLOR_PRIMARY_EGGPLANT_PURPLE);
    --COLOR_THEME_MY_MONEY: var(--COLOR_PRIMARY_ALGAE_GREEN);
    --COLOR_THEME_MY_WORK: var(--COLOR_PRIMARY_OCEAN_BLUE);
    --COLOR_THEME_MY_SOCIAL_LIFE: var(--COLOR_PRIMARY_LAVA_RED);
}

/* Fonts */
/* ------------------------------------------- */
:root {
    --FONT_PRIMARY: 'OpenSans', Arial, sans-serif; /* carries a weight of 400 in font-face by default */
    --FONT_SEMI_BOLD: 'OpenSans-SemiBold', Arial, sans-serif; /* carries a weight of 400 in font-face by default */
    --FONT_PRIMARY_BOLD: 'OpenSans-Bold', Arial, sans-serif; /* carries a weight of 400 in font-face by default */
    --FONT_SIZE_TEXT_XXSMALL: {
        font-size: 10px;
    };
    --FONT_SIZE_TEXT_XSMALL: {
        font-size: 12px;
    };
    --FONT_SIZE_TEXT_SMALL: {
        font-size: 14px;
    };
        /* Variants */
        --FONT_SIZE_TEXT_SMALL_TO_LARGE: {
            font-size: 14px;
            @media (--medium) {
                font-size: 22px;
            }
        };
        --FONT_SIZE_TEXT_SMALL_TO_XLARGE: {
            font-size: 14px;
            @media (--medium) {
                font-size: 24px;
            }
        };
    --FONT_SIZE_TEXT_MEDIUM: {
        font-size: 16px;
        @media (--medium) {
            font-size: 18px;
        }
    };
        /* Variants */
        --FONT_SIZE_TEXT_MEDIUM_TO_LARGE: {
            font-size: 16px;
            @media (--medium) {
                font-size: 22px;
            }
        };
        --FONT_SIZE_TEXT_MEDIUM_TO_XLARGE: {
            font-size: 16px;
            @media (--medium) {
                font-size: 24px;
            }
        };
    --FONT_SIZE_TEXT_LARGE: {
        font-size: 18px;
        @media (--medium) {
            font-size: 20px;
        }
    };
    --FONT_SIZE_TEXT_XLARGE: {
        font-size: 22px;
        @media (--medium) {
            font-size: 24px;
        }
    };
    --FONT_SIZE_TEXT_XXLARGE: {
        font-size: 28px;
        @media (--medium) {
            font-size: 30px;
        }
    };
    --FONT_SIZE_TEXT_XXXLARGE: {
        font-size: 32px;
        @media (--medium) {
            font-size: 36px;
        }
    };

    --FONT_LIGHT: 300; /* Also set on default font face 'OpenSans-Light' */
    --FONT_NORMAL: 400; /* Also set on default font face 'OpenSans' */
    --FONT_SEMI_BOLD: 600; /* Also set on default font face 'OpenSans' */
    --FONT_BOLD: 700; /* Also set on default font face 'OpenSans-Bold' */
}

/* Transitions */
/* ------------------------------------------- */
:root {
    --TRANSITION_TIMING: 0.5s;
}

/* Button Base Styles
   - Override as necessary in button.css object*/
/* ------------------------------------------- */
:root {
    --BUTTON: {
        display: inline-block;
        border: none; /* resets default browser styles */
        margin: 0; /* reset default browser styles */
        padding: var(--BTN_Y_PADDING) var(--BTN_X_PADDING);
        box-sizing: border-box;
        appearance: none;
        -webkit-appearance: none;
        border-radius: 3px;
        font-weight: var(--FONT_NORMAL);
        text-align: center;
        color: var(--COLOR_PRIMARY_WHITE);
        background-color: var(--COLOR_SECONDARY_SLATE_BLUE);
        font-family: var(--FONT_PRIMARY);
        transition: all var(--TRANSITION_TIMING) ease;
        cursor: pointer;
    };
}

/* Layout */
/* ------------------------------------------- */
:root {
    --CONTAINER {
        max-width: var(--SITE_MAX_WIDTH);
        margin: 0 auto;
        padding: 0 var(--GLOBAL_SPACING);
    }
}

/* Clearfix */
/* ------------------------------------------- */
:root {
    --clearfix {
        &::before,
        &::after {
            content: '';
            display: table;
        }
        &::after {
            clear: both;
        }
    }
}

/* Effects */
/* ------------------------------------------- */
:root {
    --LINK_HOVER: {
        transition: all var(--TRANSITION_TIMING) ease;
    }
}
