/* ---------------------------------------------------------------------
elements
------------------------------------------------------------------------ */
body {
    font-family: var(--FONT_PRIMARY);
    @apply --FONT_SIZE_TEXT_MEDIUM;
    color: var(--COLOR_SYSTEM_TEXT_GREY);
    background-color: var(--COLOR_SECONDARY_SAND_BEIGE);
}

a {
    text-decoration: none; /* resets browser default */
}

img {
    max-width: 100%;
}

button {
    appearance: none;
    -webkit-appearance: none;
    border: none;
}

select,
input,
textarea {
    border: 1px solid var(--COLOR_SECONDARY_SLATE_GREY);
}

/* Re-add Focus styles */
:focus,
button:focus,
input:focus,
textarea:focus,
select:focus,
a:focus {
    outline-offset: 0;
    outline: 2px solid var(--COLOR_PRIMARY_SUNSHINE_ORANGE);
    box-shadow: 0 0 4px var(--COLOR_PRIMARY_SUNSHINE_ORANGE);
}
