/* ---------------------------------------------------------------------
fonts
------------------------------------------------------------------------ */

@font-face {
    font-family: "OpenSans-Light";
    src: url("../media/fonts/OpenSans-Light.eot") format("embeddedopentype"), /* IE9 Compat Modes */
    url("../media/fonts/OpenSans-Light.otf") format("opentype"), /* Open Type Font */
    url("../media/fonts/OpenSans-Light.svg") format("svg"), /* Legacy iOS */
    url("../media/fonts/OpenSans-Light.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../media/fonts/OpenSans-Light.woff") format("woff"), /* Modern Browsers */
    url("../media/fonts/OpenSans-Light.woff2") format("woff2"); /* Modern Browsers */
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../media/fonts/OpenSans-Regular.eot") format("embeddedopentype"), /* IE9 Compat Modes */
    url("../media/fonts/OpenSans-Regular.otf") format("opentype"), /* Open Type Font */
    url("../media/fonts/OpenSans-Regular.svg") format("svg"), /* Legacy iOS */
    url("../media/fonts/OpenSans-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../media/fonts/OpenSans-Regular.woff") format("woff"), /* Modern Browsers */
    url("../media/fonts/OpenSans-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans-SemiBold";
    src: url("../media/fonts/OpenSans-SemiBold.eot") format("embeddedopentype"), /* IE9 Compat Modes */
    url("../media/fonts/OpenSans-SemiBold.otf") format("opentype"), /* Open Type Font */
    url("../media/fonts/OpenSans-SemiBold.svg") format("svg"), /* Legacy iOS */
    url("../media/fonts/OpenSans-SemiBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../media/fonts/OpenSans-SemiBold.woff") format("woff"), /* Modern Browsers */
    url("../media/fonts/OpenSans-SemiBold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("../media/fonts/OpenSans-Bold.eot") format("embeddedopentype"), /* IE9 Compat Modes */
    url("../media/fonts/OpenSans-Bold.otf") format("opentype"), /* Open Type Font */
    url("../media/fonts/OpenSans-Bold.svg") format("svg"), /* Legacy iOS */
    url("../media/fonts/OpenSans-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../media/fonts/OpenSans-Bold.woff") format("woff"), /* Modern Browsers */
    url("../media/fonts/OpenSans-Bold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: 700;
    font-style: normal;
}