/* ---------------------------------------------------------------------
inputContainer
------------------------------------------------------------------------ */
:root {
    --inputContainer-SPACE: 20px;
}

.inputContainer {
    display: block;
    position: relative; /* reference for icon positioning */
}

.inputContainer > input {
    width: 100%;
    border: none;
    padding: 4px;
    font-size: 16px;
    font-weight: 300;
    color: var(--COLOR_SECONDARY_STORMY_GREY);
    box-sizing: border-box;
}

.inputContainer_headerSearch {
    padding: var(--inputContainer-SPACE);
    font-size: 0; /* remove trailing white space for height */
    @media (--medium) {
        padding: 0; /* resets base styling */
        background-color: transparent;
    }
}

.inputContainer_headerSearch > input {
    padding: 10px 20px;
    font-size: 14px;
    @media (--medium) {
        padding: 4px 20px 4px 4px;
    }
}

/* IE hack */
.inputContainer_headerSearch > input::-ms-clear {
    display: none;
}

.inputContainer-searchBtn {
    margin: var(--inputContainer-SPACE);
    padding: 12px;
    position: absolute;
    top: 0;
    right: 0;
    & button {
        border: none; /* reset browser styling */
        background: transparent; /* reset browser styling */
    }
    @media (--medium) {
        margin: 0;
        padding: 6px;
    }
}
