/* ---------------------------------------------------------------------
searchForm
------------------------------------------------------------------------ */
.searchForm {
    @media (--medium) {
        width: 260px;
        margin-left: var(--GLOBAL_SPACING);
    }
}
