/* ---------------------------------------------------------------------
globalHeaderNavigation
------------------------------------------------------------------------ */
:root {
    --globalHeaderNavigation_SPACE: 10px;
}

.globalHeaderNavigation {
    display: flex;
    flex-direction: column;
    @media (--medium) {
        flex-direction: row;
    }
}

.globalHeaderNavigation-item {
    transition: all var(--TRANSITION_TIMING) ease;
}

.globalHeaderNavigation-item > * {
    display: block;
    padding: 12px 20px;
    line-height: inherit;
    transition: all var(--TRANSITION_TIMING) ease;
        &:focus,
        &:focus {
            z-index: 100; /* set over content */
            position: relative; /* z-index establishment */
        }
    }
    @media (--medium) {
        width: auto;
        &:hover {
        background-color: var(--COLOR_PRIMARY_WHITE);
        color: var(--COLOR_SECONDARY_MIDNIGHT_BLUE);
        & > .icon {
            fill: var(--COLOR_SECONDARY_MIDNIGHT_BLUE);
        }
    }
}

.globalHeaderNavigation-item + .globalHeaderNavigation-item {
    border-top: 1px solid var(--COLOR_PRIMARY_WHITE);
    @media (--medium) {
        border-top: none; /* resets base style */
    }
}

@media (--medium) {
    .globalHeaderNavigation-item_bordered {
        border-left: 3px solid var(--COLOR_PRIMARY_WHITE);
    }
}

/* Only applies to elements with mega menu child objects attached */
.globalHeaderNavigation-item-trigger {
    display: flex;
    border: none; /* browser button element styling reset */
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between; /* forces far left/right layout of siblings */
    text-align: left;
    background-color: transparent; /* browser button element styling reset */
    cursor: pointer; /* user interaction indicator */
    & .icon {
        transition: all var(--TRANSITION_TIMING) ease;
        margin-left: 8px;
    }
    &.isActive .icon {
        transform: rotate(-180deg);
    }
}


.globalHeaderNavigation-item-dropDown {
    transition: all var(--TRANSITION_TIMING) ease;
    padding: 0;
    @media (--medium) {
        max-width: var(--SITE_MAX_WIDTH);
        margin: auto;
        position: absolute; /* relative to `.globalHeaderNavigation` */
        left: 0; /* align with parent object to center */
        right: 0; /* align with parent object to center*/
    }
}

/* State Classes */
.js {
    & .globalHeaderNavigation-item-dropDown {
        display: none;
        &.isActive {
            display: block;
        }
    }
}
