/* ---------------------------------------------------------------------
megaMenu
------------------------------------------------------------------------ */
.megaMenu {
    z-index: 90; /* Sets over page content */
    position: relative; /* for z-index establishment */
}

.megaMenu-box {
    padding: var(--MEGA_MENU_SPACING);
    box-sizing: border-box;
    background-color: var(--COLOR_SECONDARY_MIDNIGHT_BLUE);
}

.megaMenu-box-hd {
    margin-bottom: var(--MEGA_MENU_SPACING);
    padding: 22px 20px;
    background-color: var(--COLOR_PRIMARY_WHITE);
}

.megaMenu-box-nav {
    background-color: var(--COLOR_SECONDARY_MIDNIGHT_BLUE);
}
