<div class="domOrderFlip u-container u-container_medium">
    <div class="domOrderFlip-item">
        <div class="searchForm">
            <form action="#" role="search">
                <div class="inputContainer inputContainer_headerSearch">
                    <label class="u-isVisuallyHidden" for="search">Search Disability Hub MN</label>
                    <input id="search" type="search" name="search" maxlength="80" placeholder="Enter Search Term&hellip;"/>
                    <div class="inputContainer-searchBtn">
                        <button class="icon icon_search" type="submit" title="Submit Search">
                            <svg class="icon-inner" version="1.1" preserveAspectRatio="xMidYMid meet" role="img" focusable="false">
                                <use xlink:href="#icon-search"></use>
                            </svg>
                        </button>
                    </div> <!-- /.inputContainer-btn -->
                </div> <!-- /.inputContainer inputContainer_headerSearch -->
            </form>
        </div> <!-- /.searchForm -->
    </div> <!-- /.domOrderFlip-item -->
    <div class="domOrderFlip-item">
        <nav role="navigation" aria-label="Primary Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
            <ul class="globalHeaderNavigation">
                <li class="globalHeaderNavigation-item">
                    <button class="globalHeaderNavigation-item-trigger u-textFontSizeMainNav u-textWeightSemiBold u-textColorOpaque" aria-label="Access sub navigation menu" aria-expanded="false" data-toggle-target-id="#js-myOptionsNav">
                        My Options
                        <span class="icon icon_arrow mix-icon_arrowLight">
                            <svg class="icon-inner" version="1.1" preserveAspectRatio="xMidYMid meet" role="img" focusable="false">
                                <use xlink:href="#icon-arrow"></use>
                            </svg>
                        </span> <!-- /.icon icon_arrow -->
                    </button>
                    <div class="globalHeaderNavigation-item-dropDown" id="js-myOptionsNav">
                        <div class="megaMenu">
                            <div class="megaMenu-box">
                                <div class="megaMenu-box-hd">
                                    <h2 class="u-textFontSizeMedium u-textColorDark">Learn more about your options and make a plan</h2>
                                </div> <!-- /.megaMenu-box-hd -->
                                <div class="megaMenu-box-nav">
                                    <div class="megaMenuNav">
                                        <div class="grid">
                                            <div class="grid-col grid-col_8of12">
                                                <div class="megaMenuNav-list">
                                                    <div itemprop="url">
                                                        <a href="#0" class="ctaBox theme-myBestLife">
                                                            <div class="ctaBox-hd u-textFontSizeXLarge u-textWeightBold">
                                                                <div class="sideBySide mix-sideBySide_grow">
                                                                    <div class="u-textColorDark">My best life</div>
                                                                        <div>
                                                                            <span class="icon icon_chevron">
                                                                                <svg class="icon-inner" version="1.1"
                                                                                preserveAspectRatio="xMidYMid meet" role="img" focusable="false">
                                                                                    <use xlink:href="#icon-chevron"></use>
                                                                                </svg>
                                                                            </span>
                                                                        </div>
                                                                </div> <!-- /.sideBySide -->
                                                            </div> <!-- /.ctaBox-hd -->
                                                            <div class="ctaBox-subHd u-textFontSizeSmall u-textColorLight u-textWeightSemiBold">Plan your choices</div> <!-- /.ctaBox-subHd -->
                                                        </a> <!-- /.ctaBox -->
                                                    </div>
                                                    <div itemprop="url">
                                                        <a href="#0" class="ctaBox theme-myHome">
                                                            <div class="ctaBox-hd u-textFontSizeXLarge u-textWeightBold">
                                                                <div class="sideBySide mix-sideBySide_grow">
                                                                    <div class="u-textColorDark">My home</div>
                                                                    <div>
                                                                        <span class="icon icon_chevron">
                                                                            <svg class="icon-inner" version="1.1" preserveAspectRatio="xMidYMid meet"
                                                                             role="img" focusable="false">
                                                                                <use xlink:href="#icon-chevron"></use>
                                                                            </svg>
                                                                        </span>
                                                                    </div>
                                                                </div> <!-- /.sideBySide -->
                                                            </div> <!-- /.ctaBox-hd -->
                                                            <div class="ctaBox-subHd u-textFontSizeSmall u-textColorLight u-textWeightSemiBold">
                                                                Finding
                                                                and keeping housing
                                                            </div> <!-- /.ctaBox-subHd -->
                                                        </a> <!-- /.ctaBox -->
                                                    </div>
                                                    <div itemprop="url">
                                                        <a href="#0" class="ctaBox theme-myHealth">
                                                            <div class="ctaBox-hd u-textFontSizeXLarge u-textWeightBold u-textColorDark">
                                                                <div class="sideBySide mix-sideBySide_grow">
                                                                    <div class="u-textColorDark">My health</div>
                                                                    <div>
                                                                        <span class="icon icon_chevron">
                                                                            <svg class="icon-inner" version="1.1" preserveAspectRatio="xMidYMid meet"
                                                                            role="img" focusable="false">
                                                                                <use xlink:href="#icon-chevron"></use>
                                                                            </svg>
                                                                        </span>
                                                                    </div>
                                                                </div> <!-- /.sideBySide -->
                                                            </div> <!-- /.ctaBox-hd -->
                                                            <div class="ctaBox-subHd u-textFontSizeSmall u-textColorLight u-textWeightSemiBold">
                                                                Medical
                                                                coverage and healthy choices
                                                            </div> <!-- /.ctaBox-subHd -->
                                                        </a> <!-- /.ctaBox -->
                                                    </div>
                                                    <div itemprop="url">
                                                        <a href="#0" class="ctaBox theme-myMoney">
                                                            <div class="ctaBox-hd u-textFontSizeXLarge u-textWeightBold">
                                                                <div class="sideBySide mix-sideBySide_grow">
                                                                    <div class="u-textColorDark">My money</div>
                                                                    <div>
                                                                        <span class="icon icon_chevron">
                                                                            <svg class="icon-inner" version="1.1"
                                                                            preserveAspectRatio="xMidYMid meet" role="img" focusable="false">
                                                                                <use xlink:href="#icon-chevron"></use>
                                                                            </svg>
                                                                        </span>
                                                                    </div>
                                                                </div> <!-- /.sideBySide -->
                                                            </div> <!-- /.ctaBox-hd -->
                                                            <div class="ctaBox-subHd u-textFontSizeSmall u-textColorLight u-textWeightSemiBold">
                                                                Managing
                                                                and budgeting
                                                            </div> <!-- /.ctaBox-subHd -->
                                                        </a> <!-- /.ctaBox -->
                                                    </div>
                                                    <div itemprop="url">
                                                        <a href="#0" class="ctaBox theme-myWork">
                                                            <div class="ctaBox-hd u-textFontSizeXLarge u-textWeightBold">
                                                                <div class="sideBySide mix-sideBySide_grow">
                                                                    <div class="u-textColorDark">My work</div>
                                                                    <div>
                                                                        <span class="icon icon_chevron">
                                                                            <svg class="icon-inner" version="1.1"
                                                                            preserveAspectRatio="xMidYMid meet" role="img" focusable="false">
                                                                                <use xlink:href="#icon-chevron"></use>
                                                                            </svg>
                                                                        </span>
                                                                    </div>
                                                                </div> <!-- /.sideBySide -->
                                                            </div> <!-- /.ctaBox-hd -->
                                                            <div class="ctaBox-subHd u-textFontSizeSmall u-textColorLight u-textWeightSemiBold">
                                                                Making
                                                                work part of your plan
                                                            </div> <!-- /.ctaBox-subHd -->
                                                        </a> <!-- /.ctaBox -->
                                                    </div>
                                                    <div itemprop="url">
                                                        <a href="#0" class="ctaBox theme-mySocialLife">
                                                            <div class="ctaBox-hd u-textFontSizeXLarge u-textWeightBold">
                                                                <div class="sideBySide mix-sideBySide_grow">
                                                                    <div class="u-textColorDark">My social life</div>
                                                                    <div>
                                                                        <span class="icon icon_chevron">
                                                                            <svg class="icon-inner" version="1.1"
                                                                                 preserveAspectRatio="xMidYMid meet" role="img" focusable="false">
                                                                                <use xlink:href="#icon-chevron"></use>
                                                                            </svg>
                                                                        </span>
                                                                    </div>
                                                                </div> <!-- /.sideBySide -->
                                                            </div> <!-- /.ctaBox-hd -->
                                                            <div class="ctaBox-subHd u-textFontSizeSmall u-textColorLight u-textWeightSemiBold">
                                                                Finding
                                                                joy and community
                                                            </div> <!-- /.ctaBox-subHd -->
                                                        </a> <!-- /.ctaBox -->
                                                    </div>
                                                </div> <!-- /.megaMenuNav-list -->
                                            </div> <!-- /.grid-col grid-col_8of12 -->
                                            <div class="grid-col grid-col_4of12 u-isHiddenSmall">
                                                <div class="megaMenuNav-media">
                                                    <img src="/assets/media/images/FPO/FPO-megaMenuFace.png" alt="">
                                                </div> <!-- /.megaMenuNav-media -->
                                            </div> <!-- /.grid-col grid-col_4of12 -->
                                        </div> <!-- /.grid -->
                                    </div> <!-- /.megaMenuNav -->
                                </div> <!-- /.megaMenu-box-nav -->
                            </div> <!-- /.megaMenu-box -->
                        </div> <!-- /.megaMenu -->
                    </div> <!-- /.globalHeaderNavigation-item-dropDown -->
                </li>
                <li class="globalHeaderNavigation-item">
                    <a class="u-textFontSizeMainNav u-textWeightSemiBold u-textColorOpaque" href="#0">My Voice</a>
                </li>
                <li class="globalHeaderNavigation-item">
                    <a class="u-textFontSizeMainNav u-textWeightSemiBold u-textColorOpaque" href="#0">My Tools</a>
                </li>
                <li class="globalHeaderNavigation-item globalHeaderNavigation-item_bordered">
                    <a class="u-textFontSizeMainNav u-textWeightSemiBold u-textColorOpaque" href="#0">Hub Partners</a>
                </li>
                <li class="globalHeaderNavigation-item u-isHiddenMedium">
                    <!-- TODO = [FE] re-factor once Google Translate is implemented -->
                    <div class="dropNav js-languageNav">
                        <button class="dropNav-item u-textFontSizeXSmall u-textColorLight u-textWeightLight" data-toggle-target="js-languageNav">Choose Language
                        </button> <!-- /.dropNav-item -->
                    </div> <!-- /.dropNav -->
                </li>
            </ul> <!-- /.globalHeaderNavigation -->
        </nav>
    </div> <!-- /.domOrderFlip-item -->
</div> <!-- /.domOrderFlip -->