<!-- GLOBAL ICONS -->

<!-- Search --
--------------------------------------------->
<svg  class="u-isVisuallyHidden">
    <symbol id="icon-search" viewBox="0 0 14 14">
        <path d="M8.57632933,7.54716981 L8.03430532,7.54716981 L7.84219554,7.3619211 C8.51457976,6.57975986 8.9193825,5.56432247 8.9193825,4.45969125 C8.9193825,1.99656947 6.92281304,0 4.45969125,0 C1.99656947,0 0,1.99656947 0,4.45969125 C0,6.92281304 1.99656947,8.9193825 4.45969125,8.9193825 C5.56432247,8.9193825 6.57975986,8.51457976 7.3619211,7.84219554 L7.54716981,8.03430532 L7.54716981,8.57632933 L10.9777015,12 L12,10.9777015 L8.57632933,7.54716981 L8.57632933,7.54716981 Z M4.45969125,7.54716981 C2.75128645,7.54716981 1.37221269,6.16809605 1.37221269,4.45969125 C1.37221269,2.75128645 2.75128645,1.37221269 4.45969125,1.37221269 C6.16809605,1.37221269 7.54716981,2.75128645 7.54716981,4.45969125 C7.54716981,6.16809605 6.16809605,7.54716981 4.45969125,7.54716981 L4.45969125,7.54716981 Z"></path>
    </symbol>
</svg>

<!-- Menu --
--------------------------------------------->
<svg class="u-isVisuallyHidden">
    <symbol id="icon-menu" viewBox="725 240 20 16">
        <path d="M725.234375,241.464844 C725.15625,241.373697 725.097656,241.279297 725.058594,241.181641 C725.019531,241.083984 725,240.970053 725,240.839844 C725,240.722656 725.019531,240.61198 725.058594,240.507812 C725.097656,240.403645 725.15625,240.3125 725.234375,240.234375 C725.3125,240.15625 725.403645,240.097656 725.507812,240.058594 C725.61198,240.019531 725.722656,240 725.839844,240 L743.671875,240 C743.789063,240 743.899739,240.019531 744.003906,240.058594 C744.108073,240.097656 744.199218,240.15625 744.277344,240.234375 C744.355469,240.3125 744.414062,240.403645 744.453125,240.507812 C744.492188,240.61198 744.511719,240.722656 744.511719,240.839844 C744.511719,240.970053 744.492188,241.083984 744.453125,241.181641 C744.414062,241.279297 744.355469,241.373697 744.277344,241.464844 C744.199218,241.542969 744.108073,241.601562 744.003906,241.640625 C743.899739,241.679688 743.789063,241.699219 743.671875,241.699219 L725.839844,241.699219 C725.722656,241.699219 725.61198,241.679688 725.507812,241.640625 C725.403645,241.601562 725.3125,241.542969 725.234375,241.464844 Z M744.277344,247.03125 C744.355469,247.109375 744.414062,247.20052 744.453125,247.304688 C744.492188,247.408855 744.511719,247.519531 744.511719,247.636719 C744.511719,247.753907 744.492188,247.864583 744.453125,247.96875 C744.414062,248.072917 744.355469,248.164062 744.277344,248.242188 C744.199218,248.320313 744.108073,248.378906 744.003906,248.417969 C743.899739,248.457031 743.789063,248.476562 743.671875,248.476562 L725.839844,248.476562 C725.722656,248.476562 725.61198,248.457031 725.507812,248.417969 C725.403645,248.378906 725.3125,248.320313 725.234375,248.242188 C725.15625,248.164062 725.097656,248.072917 725.058594,247.96875 C725.019531,247.864583 725,247.753907 725,247.636719 C725,247.519531 725.019531,247.408855 725.058594,247.304688 C725.097656,247.20052 725.15625,247.109375 725.234375,247.03125 C725.3125,246.953125 725.403645,246.894531 725.507812,246.855469 C725.61198,246.816406 725.722656,246.796875 725.839844,246.796875 L743.671875,246.796875 C743.789063,246.796875 743.899739,246.816406 744.003906,246.855469 C744.108073,246.894531 744.199218,246.953125 744.277344,247.03125 Z M744.277344,253.808594 C744.355469,253.886719 744.414062,253.977864 744.453125,254.082031 C744.492188,254.186198 744.511719,254.296874 744.511719,254.414062 C744.511719,254.544271 744.492188,254.658203 744.453125,254.755859 C744.414062,254.853516 744.355469,254.947916 744.277344,255.039062 C744.199218,255.117188 744.108073,255.175781 744.003906,255.214844 C743.899739,255.253906 743.789063,255.273438 743.671875,255.273438 L725.839844,255.273438 C725.722656,255.273438 725.61198,255.253906 725.507812,255.214844 C725.403645,255.175781 725.3125,255.117188 725.234375,255.039062 C725.15625,254.947916 725.097656,254.853516 725.058594,254.755859 C725.019531,254.658203 725,254.544271 725,254.414062 C725,254.296874 725.019531,254.186198 725.058594,254.082031 C725.097656,253.977864 725.15625,253.886719 725.234375,253.808594 C725.3125,253.730468 725.403645,253.671875 725.507812,253.632812 C725.61198,253.59375 725.722656,253.574219 725.839844,253.574219 L743.671875,253.574219 C743.789063,253.574219 743.899739,253.59375 744.003906,253.632812 C744.108073,253.671875 744.199218,253.730468 744.277344,253.808594 Z"></path>
    </symbol>
</svg>

<!-- Menu Close --
--------------------------------------------->
<svg class="u-isVisuallyHidden">
    <symbol id="icon-close" viewBox="0 0 30 28">
        <g>
            <g transform="translate(-1242.000000, -265.000000)">
                <path d="M1260.16425,277.4975 L1265.82925,271.8375 C1267.39225,270.2775 1267.39225,267.7375 1265.82925,266.1775 C1264.26425,264.6075 1261.72825,264.6075 1260.16425,266.1775 L1254.50025,271.8375 L1248.83625,266.1775 C1247.27325,264.6075 1244.73725,264.6075 1243.17225,266.1775 C1241.60925,267.7375 1241.60925,270.2775 1243.17225,271.8375 L1248.83625,277.4975 L1243.17225,283.1675 C1241.60925,284.7275 1241.60925,287.2675 1243.17225,288.8275 C1244.73725,290.3975 1247.27325,290.3975 1248.83625,288.8275 L1254.50025,283.1675 L1260.16425,288.8275 C1261.72825,290.3975 1264.26425,290.3975 1265.82925,288.8275 C1267.39225,287.2675 1267.39225,284.7275 1265.82925,283.1675 L1260.16425,277.4975 L1260.16425,277.4975 Z"></path>
            </g>
        </g>
    </symbol>
</svg>

<!-- Directional Arrows --
-DOWN = Default, according to svg transform
-Directional rotation is otherwise handled in CSS
--------------------------------------------->
<svg  class="u-isVisuallyHidden">
    <symbol id="icon-arrow" viewBox="249 486 11 5">
        <g transform="translate(249.000000, 486.000000)">
            <polygon points="0 0 5 5 10 0"></polygon>
        </g>
    </symbol>
</svg>

<!-- Chevron --
--------------------------------------------->
<svg class="u-isVisuallyHidden">
    <symbol id="icon-chevron" viewbox="0 0 22 22">
        <g transform="translate(-466.000000, -1386.000000)">
            <path d="M476.268439,1404.14785 L482.771814,1397.64447 C482.953329,1397.46296 483.044087,1397.24813 483.044087,1397 C483.044087,1396.75187 482.953329,1396.53705 482.771814,1396.35553 L476.268439,1389.85215 C476.086924,1389.67064 475.8721,1389.57988 475.623969,1389.57988 C475.375837,1389.57988 475.161013,1389.67064 474.979498,1389.85215 L473.51821,1391.31344 C473.336695,1391.49496 473.245937,1391.70978 473.245937,1391.95791 C473.245937,1392.20605 473.336695,1392.42087 473.51821,1392.60238 L477.915826,1397 L473.51821,1401.39762 C473.336695,1401.57913 473.245937,1401.79396 473.245937,1402.04209 C473.245937,1402.29022 473.336695,1402.50504 473.51821,1402.68656 L474.979498,1404.14785 C475.161013,1404.32936 475.375837,1404.42012 475.623969,1404.42012 C475.8721,1404.42012 476.086924,1404.32936 476.268439,1404.14785 L476.268439,1404.14785 Z M488,1397 C488,1398.99606 487.50832,1400.83657 486.52496,1402.52154 C485.541601,1404.20652 484.207128,1405.54099 482.521543,1406.52496 C480.835959,1407.50893 478.995444,1408.00061 477,1408 C475.004556,1407.99939 473.164041,1407.50771 471.478457,1406.52496 C469.792872,1405.54221 468.458399,1404.20774 467.47504,1402.52154 C466.49168,1400.83535 466,1398.99483 466,1397 C466,1395.00517 466.49168,1393.16465 467.47504,1391.47846 C468.458399,1389.79226 469.792872,1388.45779 471.478457,1387.47504 C473.164041,1386.49229 475.004556,1386.00061 477,1386 C478.995444,1385.99939 480.835959,1386.49107 482.521543,1387.47504 C484.207128,1388.45901 485.541601,1389.79348 486.52496,1391.47846 C487.50832,1393.16343 488,1395.00395 488,1397 L488,1397 Z"></path>
        </g>
    </symbol>
</svg>
